p{
	color: blue;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 16px;
	line-height: 16ox;
	width: 800px;
	background-color: yellow;
	padding: 20px;
}    
h1, h2, h3 {
	font-family: Arial, Helvetica, sans-serif;
	color: yellow;
}
.novi_blok{
	background-color: white;
	opacity: 0.8;
	padding: 20px;
	margin: 20px;
	width: 50%;
}
.pozadina {
	background-image: url("pozadina.jpg");
}
.drugapozadina {
	background-color: blue;
}
a {
	color: white;
	background-color: grey;
	padding: 5px;
	line-height: 25px;
	border:1px solid green<
}
a:hover{
	background-color: pink;
	
}
